﻿.product{
    height:200px;
    box-shadow:0.2px 0.2px 3px black;
    padding: 5px 10px 10px 10px;
}
.product:hover{
    box-shadow: 2px 2px 10px black;
}
.header{
    background-color:#f2f0ee; 
    box-shadow:0.2px 0.2px 4px black;

}
.lblEmpty{
    font-size:2em;
    color:brown;
}
